<div class="bkg-gallery position-relative height-5"></div>
<div class="container-fluid position-relative padding-top-15 bkg-white">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <h4 class="font-weight-normal">Modules</h4>
        </div>
    </div>
    <div class="row margin-top-15 margin-bottom-30">
        <div class="col-xs-12 col-md-10 col-lg-10 col-md-offset-1">
            <div class="row margin-h-0 overflow-hidden">
                <label title="Twitter" class="cursor-pointer col-xs-6 col-sm-20pct padding-h-0 margin-bottom-0 size-square fill-umred fill-hover-dovegrey">
                    <input class="input-hidden fill-checked-white bkg-checked-umred fg-checked-burntumber" type="checkbox" ng-model="study.state.modules.twitter" />
                    <!-- <span class="sr-only">twitter</span> -->
                    <span class="sibling-bkg abs-fill bkg-white bkg-hover-gallery bkg-checked-umred border-outside-right-bottom border-color-gallery"></span>
                    <span class="sibling-fg abs-top-right margin-all-5 font-size-h4 fg-transparent glyphicon glyphicon-star"></span>
                    <img class="sibling-fill abs-centre-middle icon-module pointer-none -js-svg-inline" src="../img/logo/logo-twitter.svg" />
                </label>
                <label title="Pinterest" class="cursor-pointer col-xs-6 col-sm-20pct padding-h-0 margin-bottom-0 size-square fill-umred fill-hover-dovegrey">
                    <input class="input-hidden fill-checked-white bkg-checked-umred fg-checked-burntumber" type="checkbox" ng-model="study.state.modules.pinterest" />
                    <!-- <span class="sr-only">pinterest</span> -->
                    <span class="sibling-bkg abs-fill bkg-white bkg-hover-gallery bkg-checked-umred border-outside-right-bottom border-color-gallery"></span>
                    <span class="sibling-fg abs-top-right margin-all-5 font-size-h4 fg-transparent glyphicon glyphicon-star"></span>
                    <img class="sibling-fill abs-centre-middle icon-module pointer-none -js-svg-inline" src="../img/logo/logo-pinterest.svg" />
                </label>
                <label title="Instagram" class="cursor-pointer col-xs-6 col-sm-20pct padding-h-0 margin-bottom-0 size-square fill-umred fill-hover-dovegrey">
                    <input class="input-hidden fill-checked-white bkg-checked-umred fg-checked-burntumber" type="checkbox" ng-model="study.state.modules.instagram" />
                    <!-- <span class="sr-only">instagram</span> -->
                    <span class="sibling-bkg abs-fill bkg-white bkg-hover-gallery bkg-checked-umred border-outside-right-bottom border-color-gallery"></span>
                    <span class="sibling-fg abs-top-right margin-all-5 font-size-h4 fg-transparent glyphicon glyphicon-star"></span>
                    <img class="sibling-fill abs-centre-middle icon-module pointer-none -js-svg-inline" src="../img/logo/logo-instagram.svg" />
                </label>
                <label title="Facebook" class="cursor-pointer col-xs-6 col-sm-20pct padding-h-0 margin-bottom-0 size-square fill-umred fill-hover-dovegrey">
                    <input class="input-hidden fill-checked-white bkg-checked-umred fg-checked-burntumber" type="checkbox" ng-model="study.state.modules.facebook" />
                    <!-- <span class="sr-only">facebook</span> -->
                    <span class="sibling-bkg abs-fill bkg-white bkg-hover-gallery bkg-checked-umred border-outside-right-bottom border-color-gallery"></span>
                    <span class="sibling-fg abs-top-right margin-all-5 font-size-h4 fg-transparent glyphicon glyphicon-star"></span>
                    <img class="sibling-fill abs-centre-middle icon-module pointer-none -js-svg-inline" src="../img/logo/logo-fb.svg" />
                </label>
                <label title="Twitch" class="cursor-pointer col-xs-6 col-sm-20pct padding-h-0 margin-bottom-0 size-square fill-umred fill-hover-dovegrey">

                    <input class="input-hidden fill-checked-white bkg-checked-umred fg-checked-burntumber" type="checkbox" ng-model="study.state.modules.twitch" />
                    <!-- <span class="sr-only">twitch</span> -->
                    <span class="sibling-bkg abs-fill bkg-white bkg-hover-gallery bkg-checked-umred border-outside-right-bottom border-color-gallery"></span>
                    <span class="sibling-fg abs-top-right margin-all-5 font-size-h4 fg-transparent glyphicon glyphicon-star"></span>
                    <img class="sibling-fill abs-centre-middle icon-module pointer-none -js-svg-inline" src="../img/logo/logo-twitch.svg" />
                </label>

                <label title="YouTube" class="cursor-pointer col-xs-6 col-sm-20pct padding-h-0 margin-bottom-0 size-square fill-umred fill-hover-dovegrey">
                    <input class="input-hidden fill-checked-white bkg-checked-umred fg-checked-burntumber" type="checkbox" ng-model="study.state.modules.youtube" />
                    <!-- <span class="sr-only">youtube</span> -->
                    <span class="sibling-bkg abs-fill bkg-white bkg-hover-gallery bkg-checked-umred border-outside-right-bottom border-color-gallery"></span>
                    <span class="sibling-fg abs-top-right margin-all-5 font-size-h4 fg-transparent glyphicon glyphicon-star"></span>
                    <img class="sibling-fill abs-centre-middle icon-module pointer-none -js-svg-inline" src="../img/logo/logo-youtube.svg" />
                </label>
                <label title="Crimson Hexagon" class="cursor-pointer col-xs-6 col-sm-20pct padding-h-0 margin-bottom-0 size-square fill-umred fill-hover-dovegrey">
                    <input class="input-hidden fill-checked-white bkg-checked-umred fg-checked-burntumber" type="checkbox" ng-model="study.state.modules.hexagon" />
                    <!-- <span class="sr-only">hexagon</span> -->
                    <span class="sibling-bkg abs-fill bkg-white bkg-hover-gallery bkg-checked-umred border-outside-right-bottom border-color-gallery"></span>
                    <span class="sibling-fg abs-top-right margin-all-5 font-size-h4 fg-transparent glyphicon glyphicon-star"></span>
                    <img class="sibling-fill abs-centre-middle icon-module pointer-none -js-svg-inline" src="../img/logo/logo-crimson.svg" />
                </label>
                <label title="Watson Personality Insights" class="cursor-pointer col-xs-6 col-sm-20pct padding-h-0 margin-bottom-0 size-square fill-umred fill-hover-dovegrey">
                    <input class="input-hidden fill-checked-white bkg-checked-umred fg-checked-burntumber" type="checkbox" ng-model="study.state.modules.watson" />
                    <!-- <span class="sr-only">watson</span> -->
                    <span class="sibling-bkg abs-fill bkg-white bkg-hover-gallery bkg-checked-umred border-outside-right-bottom border-color-gallery"></span>
                    <span class="sibling-fg abs-top-right margin-all-5 font-size-h4 fg-transparent glyphicon glyphicon-star"></span>
                    <img class="sibling-fill abs-centre-middle icon-module pointer-none -js-svg-inline" src="../img/logo/logo-watson.svg" />
                </label>
                <label title="" class="cursor-pointer col-lg-2 hidden-xs col-xs-6 col-md-2 col-sm-20pct padding-h-0 margin-bottom-0 size-square fill-umred fill-hover-dovegrey">
                    <!-- <span class="sr-only"></span> -->
                    <span class="sibling-bkg abs-fill bkg-white bkg-hover-gallery bkg-checked-umred border-outside-right-bottom border-color-gallery"></span>
                    <span class="sibling-fg abs-top-right margin-all-5 font-size-h4 fg-transparent glyphicon glyphicon-star"></span>
                </label>
                <label title="" class="cursor-pointer col-lg-2 hidden-xs col-xs-6 col-md-2 col-sm-20pct padding-h-0 margin-bottom-0 size-square fill-umred fill-hover-dovegrey">
                    <!-- <span class="sr-only"></span> -->
                    <span class="sibling-bkg abs-fill bkg-white bkg-hover-gallery bkg-checked-umred border-outside-right-bottom border-color-gallery"></span>
                    <span class="sibling-fg abs-top-right margin-all-5 font-size-h4 fg-transparent glyphicon glyphicon-star"></span>
                </label>
            </div>
        </div>
    </div>
</div>
<div class="bkg-gallery position-relative height-5"></div>
<div class="margin-top-15 margin-bottom-30 text-center">
    <button type="button" wz-previous data-matchwidth-group="createstudyaction" class="-js-match-width position-relative font-weight-medium cursor-pointer padding-h-15 padding-v-5 margin-h-10 margin-bottom-15 border-radius-25 border-style-solid border-width-1 border-color-umred bkg-transparent bkg-hover-umred fg-black fg-hover-white fill-transparent fill-hover-white">
        <img class="width-12 height-12 inblock-baseline -js-svg-inline" src="../img/icon/icon-arrow-left.svg" />
        <span class="margin-h-5 inblock-baseline">Back</span>
        <span class="width-12 height-12 inblock-baseline"></span>
    </button>
    <button ng-click="study.saveDraft()" data-matchwidth-group="createstudyaction" class="-js-match-width position-relative font-weight-medium cursor-pointer padding-h-15 padding-v-5 margin-h-10 margin-bottom-15 border-radius-25 border-style-solid border-width-1 border-color-umred bkg-transparent bkg-hover-umred fg-black fg-hover-white">
        <span class="inblock-baseline">Save Draft</span>
    </button>
    <button ng-click="study.submitStudyForSubmission()" ng-show="study.isCurrentPage('2-module')" data-matchwidth-group="createstudyaction" class="-js-match-width position-relative font-weight-medium cursor-pointer padding-h-15 padding-v-5 margin-h-sm-10 margin-bottom-15 margin-bottom-sm-0 border-radius-25 border-style-solid border-width-1 border-color-umred bkg-transparent bkg-hover-umred fg-black fg-hover-white">
        <span>Submit</span>
    </button>
</div>
